
.headBox{
    text-align: center;
    color:rgb(217, 230, 243);
    font-family:'Courier New', Courier, monospace;
    font-size:30px;
    border-radius:10px;
    letter-spacing: 2px;
    text-shadow:1px 1px 1px rgb(0, 195, 255), -1px -1px 1px rgb(0, 195, 255);
    margin-bottom: 10px;
    box-shadow: 0px 2px 1px grey;
    font-weight:bold;
}
.headBox .bars{
    margin:10px;
    float:right;
    right:0px;
    font-size:15px;
    color:black;
}
.centerPosition{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom:10px;
}
.idBox{
    color:rgb(79, 176, 206);
    font-weight:bold;
}
#idBox{
    outline:none;
    margin-bottom:40px;
    border:0px;
}

.showText{
    width:60%;
    border-radius:15px;
    border:1px solid #acc;
    display:block;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: justify;
    text-justify: inter-word;
    padding:10px;
    font-size:30px;
    font-family:'Times New Roman', Times, serif;
    line-height: 1.2;
    background-color:white;
    box-shadow: 0px 2px 1px grey;
    z-index:1;
}
.centerPosition .divBox1{
	position:absolute;
	height:50px;
	width:50px;
	border-radius:25px;
	display:flex;
	align-items:center;
	justify-content:center;
	animation:round 5s ease-in infinite;
}
@keyframes round{
	0%{transform:rotateZ(0deg);}
	100%{transform:rotateZ(360deg);}
}
.divBox2{
	background-color:rgb(74, 207, 174);
	height:100%;
	width:10px;
	border-radius:5px;
	position:absolute;
}
.divBox3{
	position:absolute;
	height:30px;
	width:30px;
	border-radius:15px;
	background-color:#fdfdfd;
}
#restart,#startBox,#merit{
    padding:5px;
    border-radius:10px;
    background-color:rgba(0, 118, 253, 0.507);
    color:white;
    margin-left:10px;
}
#textBox{
    outline:none;
    font-size:23px;
    font-family:monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(7, 7, 7);

}
#showWpm{
    color:rgb(0, 0, 0);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
    padding:10px;
    border-radius:5px 20px 5px 20px;
}
.spanColor1{
    color:green;
}
.spanColor2{
    color:red;
}

.developer{
    position:fixed;
    right:3px;
    bottom:0px;
    color:rgb(167, 156, 156);
    font-family:fantasy;
}
.wpmValue{
    color:rgb(13, 95, 95);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.moreBox{
    position:fixed;
    background-color:black;
    border-radius:20px 0px 0px 0px;
    border-bottom:8px ridge #ccc;
    width:100px;
    right:0px;
    top:60px;
    padding:10px;
    z-index:2;
}
#moreBox{
    display:none;
}
.optionStyle{
    color:white;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
    font-size:13px;
    border-radius:5px;
    font-weight:bold;
    text-decoration: none;
    border-bottom:1px solid #acc;
    margin-bottom:5px;
}
#meritShow{
    background:#000000;
    border-radius:20px 20px 0px 0px;
    position:fixed;
    top:100px;
    width:320px;
    height:400px;
    padding-top:30px;
    color:#ffffff;
    padding:0px;
    font-size:18px;
    overflow:scroll;
    display:none;
    z-index:3;
}
#meritShow #meritClose{
    position:fixed;
    color:rgb(5, 5, 5);
    width:320px;
    border-radius:20px 20px 0px 0px;
    text-align:center;
    font-weight:bold;
    font-size:25px;
    background-color:aquamarine;
    box-shadow:0px 3px 2px #ffffff;
}
#closeButton{
    color:rgb(23, 79, 112);
    float:right;
    padding-right:10px;
}
.meritPerson{
    width:320px;
	padding-bottom:10px;
    padding-left:5px;
    font-size:15px;
	border-bottom:1px solid #ffff00;
}
.wpmMerit{
    color:rgb(145, 240, 21);
    font-size:10px;
}
